@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #cc4646;
    font-family: 'Grandstander', cursive;
}

nav{
    background: #fff;
    height: 100px;
    color: #cc4646;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid red;
}

nav h1{
    margin: 10px;
    
}

nav h1::before{
    content:url('');
    background-image: url('../img/pokeball01.png');
    background-size: 30px 30px;
    position: relative;
    bottom: 20px;
    display: inline-block;
    width: 30px; 
    height: 30px;
}

nav ul{
    list-style: none;
    text-align: center;
    font-size: 20px;
}

nav ul li{
    display: inline;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: #cc4646;
}

nav ul li a:hover{
    text-decoration: underline;
    color: red;
}

footer{
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    border-top: 1px solid red;
}

form{
    color: #ffffff;
    width: 50vw;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form input, form textarea{
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
}

.file{
    border: none;
}

form input:focus, form textarea:focus{
    outline: none;
    background-color: #f0f0f0;
}

form input{
    height: 30px;
}

form textarea{
    height: 90px;
    resize: none;
}

form button{
    background-color: #fff;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    margin: 0 auto 50px auto;
    cursor: pointer;
}

form button:focus{
    outline: none;
    background-color: #f0f0f0;
}

img{
    width: 215px;
    margin: 20px;
}

.dexlist{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.dexitem{
    width: 350px;
    height: 350px;
    padding: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    overflow-y: scroll;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE, Edge */
    border: 1px solid #f0f0f0;
}

.dexitem span{
    font-weight: 700;
}

.dexitem::-webkit-scrollbar{
    background: transparent /* chrome, opera, safari */
}

.dexitem:hover{
    background-color: #f0f0f0;
    border: 1px solid #fff;
}

.title{
    text-align: center;
    color: #fff;
}

.title span{
    font-size: 1.4em;
}